<!doctype html>
<html>
  <head>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='normalize.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    <meta charset="utf-8">
    <title>HTTP Status Code</title>
    <meta name="description" content="HTTP Status Codes">
    <meta name="author" content="Hermann Vocke">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <div class="container">
      <div class="messages">
        {% for message in get_flashed_messages() %}
        <div class="message">{{ message }}</div>
        {% endfor %}
      </div>
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
